/*
Responsive HTML Table With Pure CSS - Web Design/UI Design

Code written by:
👨🏻‍⚕️ Coding Design (Jeet Saru)

> You can do whatever you want with the code. However if you love my content, you can **SUBSCRIBED** my YouTube Channel.

🌎link: www.youtube.com/codingdesign 
*/

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}
@media print {
 .table, .table__body {
  overflow: visible;
  height: auto !important;
  width: auto !important;
 }
}


fieldset {
    display: flex;
    flex-direction:column;
    /* border-radius: 1em; */
    padding: 1.5em;
    color: #c18a8a;
    text-align: right;
    border: none;
    /* box-shadow: -0.25em -0.2em 0.5em 0 rgba(255, 255, 255, 0.8) inset, 0.25em 0.2em 0.5em 0 rgba(173, 191, 204, 0.8) inset; */
  }
  
  legend {
    color:#265E7E;
    padding-bottom: -50px;
    translate: 0 20%;
    direction: rtl;
    font-weight: 500;
    text-align: center;
    font-size: 1.5rem;
  }
  
  [type=radio] {
    display: none;
  }
  
  .label {
    position: relative;
    padding: 0.5em;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    font-weight: 500;
    transition: 0.4s ease;
    color: rgba(31, 32, 32, 0.5);
  }
  .labelpdf {
    position: relative;
    padding: 1.5em;
    padding: 0.5em;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    font-weight: 500;
    transition: 0.4s ease;
    color: rgba(31, 32, 32, 0.5);
  }
  .labelpdf::before {
    transition: 0.4s ease;
    content: "";
    border-radius: 100vmax;
    display: inline-grid;
    margin-left: 0.5em;
    width: 2em;
    height: 4em;
    box-shadow: -0.5em -0.25em 0.5em 0 white, 0.5em 0.25em 1.25em 0 #adbfcc;
    background-color: #eff2f5;
    filter: blur(0.1em);
    cursor: pointer;
  }
  
  .label:hover {
    color: inherit;
  }
  
  .label:before {
    transition: 0.4s ease;
    content: "";
    border-radius: 100vmax;
    display: inline-grid;
    margin-left: 0.5em;
    width: 2em;
    height: 2em;
    box-shadow: -0.5em -0.25em 0.5em 0 white, 0.5em 0.25em 1.25em 0 #adbfcc;
    background-color: #eff2f5;
    filter: blur(0.1em);
    cursor: pointer;

  }
  
  [type=radio]:checked + label {
    color: #265E7E;
    text-indent: 0.5em;
  }
  
  [type=radio]:checked + label:before {
    box-shadow: -0.5em -0.25em 0.5em 0 white, 0.5em 0.25em 1.25em 0 #265E7E, 0.1em 0.1em 0 rgba(38, 94, 126, 0.5) inset, 0.2em 0.2em 0 rgba(38, 94, 159, 0.5) inset, 0.1em 0.1em 0 rgba(255, 255, 255, 0.5) inset, -0.2em -0.2em 0 rgba(255, 255, 255, 0.5) inset;
  }

/*@page {
    size: landscape;
    margin: 0; 
}*/

body {
    
    min-height: 100vh;
    background: url(../images/bgtabel.png) center / cover;
    display: flex;
    justify-content: center;
    direction: rtl;
    align-items: center;
}

main.table {
    width: 82vw;
    height: 80vh;
    background-color: #fff5;

    backdrop-filter: blur(0.3px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    direction: rtl;
    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 20%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .1s;
}

.table__header .input-group:hover {
    width: 25%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}
h2{
    color:#265E7E;
    font-size: 24;
    font-family: 'Times New Roman', Times, serif;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}


table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: right;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .5rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.delivered {
    background-color: #86e49d;
    color: #006b21;
}

.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

.status.pending {
    background-color: #ebc474;
    color:#eaa00e;
}

.status.shipped {
    background-color: #6fcaea;
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #265E7E;
}

thead th:hover {
    color: #265E7E;
}

thead th.active span.icon-arrow{
    background-color: #265E7E;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #265E7E;
}

.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(images/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem #0004;
    
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}

.btn-open-popup{
    padding: 12px 24px;
    /* top:50px; */
    /* position: fixed; */
    /* float:inline-start; */
    font-size: 18px;
    border:#265E7E;
    border-radius: 40px;
    cursor: pointer;
    /* padding: 12px 24px;  */
    font-size: 18px; 
    background-color:#265E7E; 
    color: #fff; 
    border: none; 
    border-radius: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 

}
.btn-open-popup:hover { 
    background-color: #265E7E;
    opacity: 0.7; 
} 



.overlay-container { 
    
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.6); 
    justify-content: center; 
    align-items: center;
    
    opacity: 0.6; 
    transition: opacity 0.3s ease; 
} 
.popup-box{
    background-image: url("../images/card.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
     /* background: #fff;   */
     top:50px;
     border-radius: 20px;
     border:2px soild #265E7E; 
     padding: 10px 24px;
     box-shadow: 0 0 20px rgba(0, 0, 8, 0.4);
     width:50%;
     height: 70%;
     text-align: center;
     display:inline-table;
     /* opacity: 0.1; */
     transform: scale(0.8);
     animation: fadeInUp 0.9 ease-out forwards;

}
.form-container{
    display:grid;
    flex-direction: column;
}
.form-label{
    margin-bottom: 10px;
    font-size: 16px;
    float: inline-start;
    margin-right: 10px;
    color:#265E7E;
    text-align: right;
}
.form-input{
    padding:  10px;
    margin-right: 10px;
    border:1px solid #265E7E;
    border-radius: 40px;
    font-size:18px;
    width:90%;
    height: 50%;
    text-align: right;
    /* margin: 5px; */
    /* box-sizing: border-box; */
}
.btn-submit{ 
    padding: 1px; 
    border: none; 
    border-radius: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
} 
.btn-close-popup{
    top:0;
    right: 0;
    padding: 12px;
    border:none;
    margin-top: -10px;
    margin-right: -22px;
    /* border-radius: 4px; */
    border-radius: 4px 4px 4px 10px;
    background-color: #bd0829;
    color:#fff;
    align-items: start;
    float: right;
    
}
      /* Keyframes for fadeInUp animation */ 
@keyframes fadeInUp { 
from { 
    opacity: 0; 
    transform: translateY(20px); 
} 

to { 
    opacity: 1; 
    transform: translateY(0); 
} 
} 

    /* Animation for popup */ 
.overlay-container.show { 
    display: flex; 
    opacity: 1; 
} 

.column{
    float: right;
    align-items: center;
    width:38%;
    height:100px;
    /* direction: rtl; */
    justify-content: center;
    margin-right: 40px;
    /* margin-left: 15px; */
    margin-left: 40px;
    /* padding-bottom: 15%; */
    /* padding-top: 20px; */

}
/* .center{
    width: 38%;
    height: 100px;
    position:relative;
    top:50%;
    left:50%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: -100px;
    margin-left: -100px;

} */
.row::after{
    content: "";
    display: table;
    clear: both;
    padding: 5px 10px;
    margin-right: 15px;
    margin-left: 15px;
    /* padding-bottom: 15%; */
    /* padding-top: 20px; */


}
button[type="submit"] {

padding: 5px ;
align-items: center;
border-radius: 40px;
box-shadow: 0 0 10px rgba(1, 1, 1, 0.4);
border:none;
justify-content: center;
color: rgba(255, 255, 255, 1);
border-radius: 20px;
background: #265E7E;
font-size: 32px;
font-style: Medium;
font-family: Tajawal;
font-weight: 500;
margin-top: 60px;
width:200px;

}
hr{
    border:none;
    color:#265E7E;
    align-items: center;
    text-align:center;
    margin:15px;
    display:inline-flex;
    width:50%;
    border-top:2px solid #265E7E;
    height: 5px;
    overflow: visible;

}

